<%= form_for @user do |f| %>
    
    <div>    
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :height %>
    </div>

    <div>
        <%= f.label :happiness %>
    </div>

    <div>
        <%= f.label :nausea %>
    </div>

    <div>
        <%= f.label :tickets %>
    </div>  

    <div>
        <%= f.label :admin %>
    </div>
  
    <%= f.submit class: 'btn btn-primary' %>
<%= end %>